
@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }

  1% {
    visibility: visible;
  }

  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    visibility: visible;
  }

  99% {
    visibility: visible;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}
