
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  outline: 0 none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
}

body {
  font-size: 100%;
}
