
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$darkGray: hsl(0, 0%, 55%);
$veryDarkGray: hsl(0, 0%, 41%);

$bodyFontSize: .9375rem;

// max containers widths
$maxMobileContainerSize: 40.9375rem;
$maxDesktopContainerSize: 69.6875rem;

// header heights
$mobileHeaderHeight: 40rem;
$desktopHeaderHeight: 40.625rem;
